@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  cursor: none;
}

@import "section_01/section_01";

.mouse {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;

  transition: width 0.9s, height 0.9s;
}
